<!--
* Celle vue permet d'afficher les écuries
* la méthode ListerEcurie du controleur : villeControleur.js
* lui passe ListerEcurie.
* listeEcurie contient par exemple :

[ { ecunum: 1, payadrdrap: 'italie.gif', ecunom: 'Ferrari' },
  { ecunum: 10, payadrdrap: 'inde.gif', ecunom: 'Force India F1' }
]

*

-->
<table class="tabpayscir">
	 {{#each listeEcurie}}
		<tr><td><img src="/image/pays/{{this.payadrdrap}}" alt="drapeau du pays" />
      <a href="/ecuries/{{this.ecunom}}"> {{this.ecunom}}</a>
    </td></tr>
	{{/each}}

</table>
<ul>
{{#each informationEcuries}}
	<img src="../image/ecurie/{{this.ECUADRESSEIMAGE}}" alt="ecurie"/>
	<li><strong> Nom : </strong>{{this.ECUNOM}}</li>
	<li><strong> Directeur : </strong>{{this.ECUNOMDIR}}</li>
	<li><strong> Adresse de siège : </strong>{{this.ECUADRSIEGE}}</li>
	<li><strong> Pays : </strong>{{this.PAYNOM}}</li>

{{/each}}
</ul>

{{#if pilotesEcurieDansUnGp}}

	<Strong> Pilotes </strong>
	<ul>
	{{#each pilotesEcurieDansUnGp}}
		<li>{{this.PILPRENOM}} {{this.PILNOM}} </li>
	{{/each}}
	</ul>

	<ul>
	{{#each photosVoituresEcuries}}
		<li id="imageVoitures"><img src="../image/ecurie/voiture/{{this.VOIADRESSEIMAGE}}" alt="image voiture"/></li>
	{{/each}}
	</ul>

{{else}}
	<p> Cette écurie ne participe pas au championnat cette année ou aucune écurie n'a été sélectionné</p>
{{/if}}
<br class="myboth" />
