
<h1>Cliquez sur une lettre pour trouver un pilote :</h1>
{{#each listeLettres}}
  <a href="/repertoirePilote/{{this.lettre}}">{{this.lettre}}</a>
{{/each}}

<ul id="listeProfilPilotes">
  {{#each listePilote}}
    <li>
      <img class="imgPil"src="/image/pilote/{{this.phoadresse}}"/>
      <a href="/detailPilote/{{this.pilnom}}">{{this.pilprenom}} {{this.pilnom}}</a>
    </li>
  {{/each}}
</ul>
