<h1>Modification du circuit {{nomCircuit}}</h1>

<form method="post" action="/circuits/modificationCircuit/{{circuit.CIRNUM}}">
  Nom : <input type="text" required="true" autofocus="true"  name = "CIRNOM"
  value = "{{circuit.CIRNOM}}"/> <br/><br/>

  Longueur : <input required="true" type="number" name="CIRLONGUEUR" value="{{circuit.CIRLONGUEUR}}"/> m <br/><br/>

  Pays :
  <select name="PAYNUM">
      <option value="{{circuit.PAYNUM}}" selected>{{circuit.PAYNOM}}</option>
    {{#each listePays}}
      <option value="{{this.PAYNUM}}">{{this.PAYNOM}}</option>
    {{/each}}
  </select> <br/><br/>

  Image : <input accept="image/*" type="file" name="CIRADRESSEIMAGE"
  {{#if circuit.CIRADRESSEIMAGE}}
    value="{{circuit.CIRADRESSEIMAGE}}"
  {{/if}}/> <br/><br/>

  Nombre de spectateurs : <input required="true" type="number" name="CIRNBSPECTATEURS" value="{{circuit.CIRNBSPECTATEURS}}"/> personnes </br><br/>

  Description : <textarea rows="2" cols="60" name="CIRTEXT" placeholder="Insérez votre description ici ...">
    {{circuit.CIRTEXT}}
  </textarea>
  <br/><br/>

  <input type="submit" value="Modifier"/>
</form>
